.RealtimeResults__options {
  width: 100;
  display: flex;
  flex-wrap: wrap;
}

.RealtimeResults__option {
  padding: 10px;
}

.RealtimeResults__boxes {
  display: flex;
  width: 100;
  flex-wrap: wrap;
}
